.bom-dom{
    width: 85%;
}
.col_lg_12{
    width: 960px;
    height: 360px;
    background-color: rgb(37, 36, 36);
}
.col_lg_4_1{
    width: 290px;
    height: 180px;
    background-color:  rgb(37, 36, 36);
}
.col_lg_4_2{
    width: 290px;
    height: 180px;
    background-color:  rgb(37, 36, 36);
}
.col_lg_4_3{
    width: 290px;
    height: 180px;
    background-color:  rgb(37, 36, 36);
}